<!-- wp:ourblocktheme/header /-->

<!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Welcome!"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">
  Welcome!
</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Improve your future right now","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">
  Improve your future right now
</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Take a look in our courses and programs, choose a \u003cstrong\u003emajor\u003c/strong\u003e that fits you!","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">
  Take a look in our courses and programs, choose a <strong>major</strong> that
  fits you!
</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn more","linkObject":{"title":"About us","type":"URL","kind":"post-type","url":"/programs"},"colorName":"dark-orange"} -->
<a
  href="/programs"
  class="wp-block-ourblocktheme-genericbutton btn btn--large btn--dark-orange"
  >Learn more</a
>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage": "apples.jpg" } -->
<!-- wp:ourblocktheme/genericheading {"text":"Slide example #1","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">
  Slide example #1
</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"We have several options of courses","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">
  We have several options of courses
</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"See more","size":"medium"} -->
<a
  href=""
  class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue"
  >See more</a
>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage": "bus.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"Slide Example #2","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">
  Slide Example #2
</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Discover our campuses","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">
  Discover our campuses
</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Click here","size":"medium"} -->
<a
  href=""
  class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue"
  >Click here</a
>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->
